h1{
color:red;
}
nav{
    background-color:lightblue;
    color:white;
    padding:10px;
}
.navbar{
    list-style-type:none;
    margin:0;
    padding:0;
    gap:20px;
    overflow:hidden;
    display:flex;
}